
<button (click)="logout()" routerLink="/login">Logout</button>
<form [formGroup]="addForm" (ngSubmit)="createTodo()">
  <input type="text" formControlName="task">
  <button type="submit">add</button>
</form><br>
<button mat-stroked-button (click)="changeStatus()">Change status all</button>
<button mat-stroked-button color="warn" (click)="deleteAll()">Delete all</button>
<button mat-stroked-button color="warn" (click)="deleteCompleted()">Delete completed</button><br>
<br>
<mat-button-toggle-group>
  <mat-button-toggle (change)="showList(1)">All Todos</mat-button-toggle>
  <mat-button-toggle (change)="showList(2)">Active Todos</mat-button-toggle>
  <mat-button-toggle (change)="showList(3)">Completed Todos</mat-button-toggle>
</mat-button-toggle-group>
<br>
<app-todo *ngFor="let todo of todoList$ | async" [todo]="todo" (editTodo)="editTodo($event)"
          (deleteTodo)="deleteTodo($event)"></app-todo>
<p>
  <mat-button-toggle-group>
    <mat-button-toggle class="pagButtons" *ngFor="let numb of pagination$ | async; let i = index"
                       (click)="showList(undefined, i + 1)">
      {{i+1}}
    </mat-button-toggle>
  </mat-button-toggle-group>
</p>
<div>{{message}}</div>
