<!--<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput  formControlName="username" placeholder="" required>
    <mat-error *ngIf="">
      Enter your username
    </mat-error>
  </mat-form-field><br>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" placeholder="" required>
    <mat-error *ngIf="">
      Enter password
    </mat-error>
  </mat-form-field><br>
  <button type="submit">singup</button>
</form>-->
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <label>Username:</label>  <input type="text" formControlName="username" required><br>
  <label>Password:</label>  <input type="password" formControlName="password" required><br>
  <button type="submit">Submit</button>
</form>
<div *ngIf="message">{{message.message}}</div>

